/*Main Banner*/
.mc-hero-clean {
    display: flex !important;
    justify-content: space-between;
    align-items: stretch;
    padding: 0rem 0 0 2rem;
    min-height: 600px;
    overflow: hidden;
    background-color: var(--mc-bg-main);
}
.mc-crescent-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #2bb6c1;
    clip-path: ellipse(60% 75% at 100% 40%);
    opacity: 0.25;
    z-index: 0;
    transform: rotate(180deg);
}
.mc-hero-text {
    z-index: 2;
    flex: 0.75;
    padding-left: 1rem;
    max-width: 600px;
    font-family: var(--mc-font-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.mc-hero-text h1 {
    font-size: 2.5rem !important;
    font-family: var(--mc-font-secondary) !important;
    font-weight: 700 !important;
    margin-bottom: 1rem !important;
    color: var(--mc-text-base) !important;
}
.mc-hero-text p {
    font-size: 1.5rem !important;
    color: var(--mc-text-soft) !important;
    margin-bottom: 2.5rem !important;
}
.mc-btn {
    background-color: var(--mc-secondary);
    color: #fff !important;
    padding: 0.75rem 1.5rem;
    border-radius: var(--mc-radius-md);
    text-decoration: none !important;
    font-weight: 600 !important;
    font-family: var(--mc-font-secondary) !important;
}
.mc-hero-girl {
    flex: 1;
    z-index: 3;
    display: flex;
    align-items: flex-end;
}
div#roomToggle:hover i.mdi.mdi-cursor-default-click-outline.room-icon {
    color: white !important;
}
.mc-hero-room {
    flex: 1.5;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: stretch;
}
.room-img {
    position: absolute;
    object-fit: cover;
    transition: opacity 0.5s ease;
    z-index: 1;
    height: 100% !important;
    width: 100%;
}
.mc-hero-girl img {
    right: -75px;
    position: relative;
}
.room-dirty {
    opacity: 1;
}
.room-clean {
    opacity: 0;
    z-index: 2;
}
.room-icon {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 4rem;
    color: var(--mc-primary);
    transform: translate(-50%, -50%);
    z-index: 3;
    pointer-events: none;
}
@media screen and (max-width: 1024px) {
    section.fullwidth.mc-hero-split.mc-hero-clean {
        flex-direction: column;
    }
    .mc-crescent-clip {
        width: 100%;
    }
    .mc-hero-text {
        text-align: center;
        width: 100%;
        margin: auto;
        padding-top: 2rem;
        align-items: center;
    }
    .mc-hero-girl img {
        right: 0;
        width: 75%;
        margin: auto;
    }
    div#roomToggle.mc-hero-room {
        display: none;
    }
    .mc-footer-col.mc-footer-brand {
        margin: 0;
    }
    .mc-footer-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }  
    
}
@media screen and (max-width: 768px) {
    .mc-hero-text {
        padding-left: 0;
    }
    section.fullwidth.mc-hero-split.mc-hero-clean {
        padding: 0 1rem;
    }
    .mc-hero-girl img {
        margin-bottom: 0;
    }
    .mc-footer-col.mc-footer-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
