/* Ya reflejado en tailwind.config.js */
:root {
  --mc-primary: #2bb6c1;
  --mc-secondary: #dc5e97;
  --mc-accent-1: #ffd60a;
  --mc-accent-2: #6464ff;
  --mc-text-base: #212121;
  --mc-text-soft: #595959;
  --mc-bg-main: #ffffff;
  --mc-bg-soft: #f5f5f5;
  --mc-border: #e6e6e6;
  --mc-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  --mc-radius-sm: 4px;
  --mc-radius-md: 8px;
  --mc-radius-lg: 16px;
  --mc-font-primary: 'Lato', sans-serif;
  --mc-font-secondary: 'Poppins', sans-serif;
}
